<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main-header-block ">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Блог</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog">Блог</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/blog/add">Добавить статью</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">Про блог</a>
        </nav>
    </div>
</div>