.main-header-block{
    padding: 10px 20px;
    background: #FFA500;
    display: flex;
    justify-content: space-between;
    font-weight: bold;


}

.main-header-block a{
    color: #8B008B;
    margin: 10px;

}